<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>

<header sec:authorize="!isAuthenticated()">
    <header th:replace="fragments/header :: header"></header>
</header>
<header sec:authorize="isAuthenticated()">
    <header th:replace="fragments/header :: header(fio=${user.fio})"></header>
</header>

<section class="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <nav th:replace="fragments/nav-person :: nav-person (fio=${user.fio}, photo=${user.photo})"></nav>

            </div>

            <div class="col-md-8">
                <div class="content">
                    <h3 class="head-content">Добавление</h3>

                    <form action="#" th:action="@{/owner/animal/save}" method="post" th:object="${animal}" class="form-registration form-horizontal">

                        <div class="form-group hidden">
                            <div class="col-sm-12">
                                <input type="hidden" th:field="*{id}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Name" required="required" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="birthday" class="col-sm-2 control-label">Birthday</label>
                            <div class="col-sm-12">
                                <input type="date" class="form-control" id="birthday" th:field="*{birthday}" placeholder="Birthday" required="required" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="breed" class="col-sm-2 control-label">Breed</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="breed" th:field="*{breed}" placeholder="Breed" required="required" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="gender" class="col-sm-2 control-label">Gender</label>
                            <div class="col-sm-12">
                                <select id="gender" class="form-control" th:field="*{gender}" required="required">
                                    <option th:value="мужской">мужской</option>
                                    <option th:value="женский">женский</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="file" class="col-sm-4 control-label">Select a file</label>
                            <div class="col-sm-offset-2 col-sm-12">
                                <input type="file" class="form-control" id="file" th:field="*{photo}" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="doctor" class="col-sm-4 control-label">Select doctor</label>
                            <div class="col-sm-offset-2 col-sm-12">
                                <select id="doctor" class="form-control" th:field="*{idDoctor}">
                                    <option th:each="doctorItem : ${doctors}"
                                            th:value="${doctorItem.id}"
                                            th:text="${doctorItem.fio}">Null</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-12">
                                <button type="submit" class="btn-registration btn btn-lg btn-primary btn-block">Save Animal</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="/libs/OwlCarousel/dist/owl.carousel.min.js"></script>
<script src="/js/common.js"></script>

</body>
</html>