<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>

<header sec:authorize="!isAuthenticated()">
    <header th:replace="fragments/header :: header"></header>
</header>
<header sec:authorize="isAuthenticated()">
    <header th:replace="fragments/header :: header(fio=${user.fio})"></header>
</header>

<section class="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h3 class="head-content">Ветеринарная клиника "Здоровье животных"</h3>

                    <ul sec:authorize="isAuthenticated()">
                        <li>Name: <span th:text="${user.fio}"></span></li>
                        <li>Birthday: <span th:text="${user.birthday}"></span></li>
                        <li>Email: <span th:text="${user.email}"></span></li>
                    </ul>

                    <ul sec:authorize="!isAuthenticated()">
                        <li><span>Вы не авторизованы!</span></li>
                    </ul>


                    <div class="carousel-content owl-carousel owl-theme">
                        <img class="owl-lazy" data-src="/images/1.jpg" alt="Картинка1" />
                        <img class="owl-lazy" data-src="/images/2.jpg" alt="Картинка2" />
                        <img class="owl-lazy" data-src="/images/3.jpg" alt="Картинка3" />
                    </div>

                    <div class="text-content">
                        <h4>Lorem</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus deleniti itaque minus molestias nisi non nostrum odit officiis quas quasi recusandae, reprehenderit sed sint tempore veniam veritatis voluptate voluptatibus?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus deleniti itaque minus molestias nisi non nostrum odit officiis quas quasi recusandae, reprehenderit sed sint tempore veniam veritatis voluptate voluptatibus?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus deleniti itaque minus molestias nisi non nostrum odit officiis quas quasi recusandae, reprehenderit sed sint tempore veniam veritatis voluptate voluptatibus?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus deleniti itaque minus molestias nisi non nostrum odit officiis quas quasi recusandae, reprehenderit sed sint tempore veniam veritatis voluptate voluptatibus?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus deleniti itaque minus molestias nisi non nostrum odit officiis quas quasi recusandae, reprehenderit sed sint tempore veniam veritatis voluptate voluptatibus?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus deleniti itaque minus molestias nisi non nostrum odit officiis quas quasi recusandae, reprehenderit sed sint tempore veniam veritatis voluptate voluptatibus?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="/libs/OwlCarousel/dist/owl.carousel.min.js"></script>
<script src="/js/common.js"></script>

</body>
</html>