<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head"></head>

<body>

<header sec:authorize="!isAuthenticated()">
    <header th:replace="fragments/header :: header"></header>
</header>
<header sec:authorize="isAuthenticated()">
    <header th:replace="fragments/header :: header(fio=${user.fio})"></header>
</header>

<section class="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <h3 class="head-content">Registration Form</h3>

                    <div th:if="${error != null}" class="error" th:text="${error}"></div>

                    <form action="#" th:action="@{/registration}" method="post" name="user" th:object="${user}" class="form-registration form-horizontal">

                        <div class="form-group">
                            <label for="fio" class="col-sm-3 control-label">Full Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="fio" th:field="*{fio}" placeholder="Full Name" required="required" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="birthday" class="col-sm-2 control-label">Birthday</label>
                            <div class="col-sm-12">
                                <input type="date" class="form-control" id="birthday" th:field="*{birthday}" placeholder="Birthday" required="required" />
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="mail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="mail" th:field="*{email}" placeholder="Email" required="required" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="pass" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="pass" th:field="*{password}" placeholder="Password" required="required" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="pass2" class="col-sm-5 control-label">Confirm Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="pass2" th:field="*{confirmPassword}" placeholder="Confirm Password" required="required" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="file" class="col-sm-4 control-label">Select a file</label>
                            <div class="col-sm-offset-2 col-sm-12">
                                <input type="file" class="form-control" id="file" th:field="*{photo}" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-12">
                                <button type="submit" class="btn-registration btn btn-lg btn-primary btn-block">Register User</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="/libs/OwlCarousel/dist/owl.carousel.min.js"></script>
<script src="/js/common.js"></script>

</body>
</html>